<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jameshao.his.hisserver.mapper.ConstanttypeMapper">

    <resultMap id="BaseResultMap" type="com.jameshao.his.hisserver.vo.Constanttype">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="constanttypecode" column="ConstantTypeCode" jdbcType="VARCHAR"/>
            <result property="constanttypename" column="ConstantTypeName" jdbcType="VARCHAR"/>
            <result property="delmark" column="DelMark" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,ConstantTypeCode,ConstantTypeName,
        DelMark
    </sql>
</mapper>
